{
  "endOfLine": "lf",
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "importOrder": [
    "^@mui/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}